.dashboard-page {
  margin: 0;
  padding: 0;
}

.dashboard-content {
  background-color: #edf2f7; /* Soft Cool White */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Position content at the top */
  height: 100vh; /* Full viewport height */
  padding-top: 15vh; /* Push content slightly lower for better placement */
}

/* Container for Greeting and Add Button */
.greeting-and-add-container {
  position: relative;
  display: flex;
  justify-content: space-between; /* Align greeting and add button on the same row */
  align-items: center;
  width: 100%;
  padding: 10px; /* Space around the container */
}

/* Add Button Styling */
.add-button {
  background-color: #e2e8f0; /* Cool Grey */
  color: #1a202c; /* Dark Navy */
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 19px;
  transition: background-color 0.3s;
  margin-top: -8vh;
  margin-right: 20px;
}

.add-button:hover {
  background-color: #81e6d9; /* Mint Teal */
  color: #1a202c; /* Dark Navy */
}

.plus-icon {
  margin-left: 5px;
}

/* Dropdown Menu Styling */
.add-dropdown {
  position: absolute; /* To ensure it appears above the button */
  top: 80%; /* Align the dropdown directly below the button */
  right: 3%;
  background-color: #ffffff; /* Pure White */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #cbd5e0; /* Light Slate */
  border-radius: 5px;
  width: 200px; /* Control the size of drop down */
  z-index: 9999; /* Ensure dropdown appears above other elements */
  padding: 8px 0;
}

.add-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.add-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.add-dropdown li:hover {
  background-color: #e2e8f0; /* Cool Grey */
}

.add-dropdown ul li {
  padding: 10px;
  border-bottom: 1px solid #cbd5e0; /* Light Slate */
}

.add-dropdown ul li:last-child {
  border-bottom: none;
}
