/* Transaction page styles */
/* @import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap"); */

/* Body background */
.transaction-page {
  background-color: #edf2f7; /* Soft Cool White */
  padding: 20px;
  margin-right: 25px;
  /* font-family: "Fredoka", sans-serif; */
  font-weight: 400;
  font-size: 1.5rem;
}

/* Header Section */
.transaction-page .transaction-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 20px;
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  position: relative;
}

.transaction-form-container {
  position: absolute;
  top: 100%;
  right: 3%;
  max-width: 500px;
  width: 350px;
  max-height: 100vh;
  padding: 20px;
  min-height: 200px;
  background-color: #fff; /* Default White */
  border-radius: 8px;
  border: 1px solid #cbd5e0; /* Light Slate */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  z-index: 1000;
  transition: height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.time-periods {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.transaction-page .time-periods button {
  background: none;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #cbd5e0; /* Light Slate */
  cursor: pointer;
  font-size: 16px;
  /* font-family: "Fredoka", sans-serif; */
  transition: background-color 0.3s ease;
}

.transaction-page .time-periods button.active {
  background-color: #81e6d9; /* Mint Teal */
  color: #1a202c; /* Dark Navy */
  font-weight: bold;
}

.transaction-page .add-transaction-btn {
  background-color: #4a5568; /* Slate Grey */
  color: #edf2f7; /* Soft Cool White */
  /* font-family: "Fredoka", sans-serif; */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 30px;
  transition: background-color 0.3s ease;
  position: relative;
}

.transaction-page .add-transaction-btn:hover {
  background-color: #38b2ac; /* Teal */
}

/* Table Styling */
.transaction-page .transaction-table table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-page .transaction-table th,
.transaction-page .transaction-table td {
  padding: 20px;
  text-align: center;
}

.transaction-page .transaction-table th {
  border-bottom: 2px solid #cbd5e0; /* Light Slate */
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #1a202c; /* Dark Navy */
}

.transaction-page .transaction-table tr:not(:last-child) {
  border-bottom: 1px solid #e2e8f0; /* Cool Grey */
}

.transaction-page .transaction-table td {
  font-size: 1rem;
  color: #4a5568; /* Slate Grey */
}

/* Styling specific table columns */
.transaction-page .transaction-table td:nth-child(3) {
  font-weight: bold;
}

.transaction-page .transaction-table td:nth-child(4) {
  font-weight: bold;
}

.transaction-page .transaction-table td:nth-child(5) {
  text-align: center;
  font-size: 0.9rem;
  color: #4a5568; /* Slate Grey */
}

.transaction-page .transaction-table td button {
  margin-right: 10px;
  background-color: #edf2f7; /* Soft Cool White */
  color: #1a202c; /* Dark Navy */
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #cbd5e0; /* Light Slate */
  cursor: pointer;
  font-size: 14px;
}

.transaction-page .transaction-table td button:hover {
  background-color: #81e6d9; /* Mint Teal */
  color: #1a202c; /* Dark Navy */
}

.transaction-page .transaction-table td button:focus {
  outline: 2px solid #38b2ac; /* Teal */
}

/* Media Queries */
@media (max-width: 1024px) {
  .transaction-page .transaction-header-container {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .transaction-page .transaction-header-container {
    margin-left: 5px;
    font-size: 1rem;
  }
}
