.action-links {
  display: flex; /* Ensures the container behaves as a flex container */
  flex-direction: column; /* Aligns items vertically */
  gap: 15px; /* Adds spacing between items */
  margin-top: 20px; /* Space above the action links */
  align-items: center; /* Ensures the links are centered horizontally */
}

.action-text {
  font-size: 1.3rem;
  background-color: #adebb3;
  cursor: pointer;
  margin: 20px 0;
  padding: 8px 12px;
  border: 1px solid #ddd7d7;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  display: inline-block;
}

.action-text:hover {
  color: #ffffff;
}

.link-bank {
  font-size: 1.3rem;
  color: #666;
  margin-top: 20px;
  padding: 10px;
}

.settings-link {
  color: #3f3e39; /* Darker shade for the settings link */
  cursor: pointer;
  font-weight: 500;
  /* text-decoration: underline; */
}

.settings-link:hover {
  color: #1f1f1f; /* Slightly darker on hover */
}

.placeholder,
.link-bank {
  line-height: 1.5; /* Set same line-height for both */
}

.link-bank {
  margin-top: -5px; /* Adjust as needed to align */
}
