@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap");

.navbar {
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Keeps logo on the left, buttons on the right */
  align-items: center; /* Vertically centers items */
  padding: 8px 16px; /* Adds some padding around the navbar */
  background-color: #ffffff; /* Light background color */
  border-bottom: 1px solid #ddd; /* Gives a subtle bottom border */
}

.nav-links {
  display: flex; /* Make the list items inline */
  align-items: center; /*Vertically align the items */
  margin: 0;
  padding: 0;
  list-style: none; /* Removes default bullets for the list */
  margin-left: auto; /* Pushes the nav-links to the right */
  margin-right: 35px; /* Pushes the link away from the buttons */
}

.nav-link {
  font-family: "Fredoka", sans-serif;
  text-decoration: none; /* Removes the underline */
  color: #3f3e39; /* Darker text color */
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px; /* Add space around the link */
  transition: color 0.3s ease; /* Smooth color change on hover */
}

.nav-link:hover {
  color: #999; /* Changes link color on hover */
}

.nav-buttons {
  display: flex; /* Aligns buttons in a row */
  align-items: center;
  gap: 15px; /* Adds spacing between buttons */
  margin-right: 20px; /* Moves buttons inward */
}

.nav-buttons button {
  font-family: "Fredoka", sans-serif;
  border: none; /* Removes default border */
  font-weight: 500; /* Increases text thickness */
  color: #3f3e39;
  padding: 6px 18px; /* Adjust padding */
  border: 1px solid #ddd;
  border-radius: 7px; /* Rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
  font-size: 18px; /* Button text size */
  background-color: transparent; /* Default transparent background */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth all relevant changes */
}

.nav-buttons button:first-child {
  background-color: #adebb3;
}

.nav-buttons button:last-child {
  background-color: transparent;
}

.nav-buttons button:hover {
  background-color: #adebb3;
  color: rgb(255, 255, 255);
}
