.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  color: inherit;
}

.logo-container img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
  color: #edf2f7; /* Cool white for text */
}

.highlight {
  color: #38b2ac; /* Teal for the highlight */
}
