@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap");

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none; /* Ensures no underline for the link */
  color: #3f3f3f;
  /* gap: 2px; */
}

.logo-container img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.logo-text {
  font-family: "Fredoka", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.highlight {
  font-family: "Fredoka", sans-serif;
  color: #d7c178;
}
