@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap");

.transaction-form h3 {
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.transaction-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.transaction-form input,
.transaction-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 14px;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Fredoka", sans-serif;
}

.transaction-form input:focus {
  outline: none;
  border-color: #adebb3;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
  margin-top: auto;
}

.form-buttons button {
  /* padding: 12px 20px; */
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  width: 30%;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  padding-bottom: 15px;
  margin-right: 10px; /* Adds space between buttons */
}

.form-buttons button[type="submit"] {
  background-color: black;
  font-size: 16px;
  color: #fff;
}

.form-buttons button[type="button"] {
  background-color: #d9d9d9;
  font-size: 16px;
  color: black;
}

.form-buttons button[type="button"]:hover {
  background: #9c9898;
  color: #ffffff;
}

.hidden-field {
  display: none !important;
}




input.invalid {
  border: 2px solid red;
}

.error {
  color: #dc3545;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}


@media (max-width: 768px) {
  .transaction-form {
    padding: 1rem;
  }

  .form-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .form-buttons button {
    width: 100%;
  }
}


@media (max-width: 600px) {
  .form-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .form-buttons button {
    max-width: 100%; /* Full width when stacked */
  }

  /* Styling for Save and Cancel buttons inside the form on small screens */
  @media (max-width: 480px) {
    .form-buttons button {
      width: calc(100% - 20px); /* Full width with a small margin */
      margin: 10px auto; /* Center the buttons with top/bottom margin */
    }
  }
}
